<h2><%= @director.name %></h2>

<p><strong>Nacionalidade:</strong> <%= @director.nationality %></p>
<p><strong>Data de nascimento:</strong> <%= @director.date_of_birth %></p>
<p><strong>Gênero favorito:</strong> <%= @director.genre.name %></p>

<%= link_to 'Editar', edit_director_path %>