<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body> 
    <nav class='navbar'>
      <%= link_to root_path do %>
        <h1>
          MovieApp
        </h1>
      <% end %>

      <ul class='nav-items'>
        <li><%= link_to 'Gêneros', genres_path %></li>
        <li><%= link_to 'Diretores', directors_path %></li>
        <li><%= link_to 'Filmes', root_path %></li>
      </ul>      
    </nav>

    <div><%= notice %></div>

    <%= yield %>
  </body>
</html>
